*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
body{
    background-color: rgb(209, 208, 207);
}
@font-face {
    font-family:"libre" ;
    src: url(../fonts/LibreFranklin-VariableFont_wght.ttf);
}
@font-face {
    font-family:"tenor" ;
    src: url(../fonts/TenorSans-Regular.ttf);
}
@font-face {
    font-family: "font";
    src: url(../fonts/SourceSerif4-VariableFont_opsz\,wght.ttf);
}
.container{
    width: 1440px;
    height: 4705px;
    margin: auto;
    background-color: white;
}
nav{
    width: 100%;
    height: 90px;
    border-bottom: 2px solid #E6E6E6;
    display: flex;
    justify-content: center;
}
header{
    width: 1200px;
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.link{
    width: 255px;
    height: 90px;
    display: flex;
}
.link ul{
    display: flex; 
    align-items: center;
    justify-content: center;
    padding:0px 30px;
    gap: 35px;  
}
.link a{
    font-size: 14px;
    font-family: "libre";
    color: black;  
}
.link a:hover{
    font-weight: bold;
    color: blue;
    transition: all 0.4s ease;
}
.hero{
    width: 1200px;
    height: 473px;
    display: flex;
    margin: auto;
    margin-top: 60px;
}
.hero p:nth-child(1){
    font-size: 10px;
    font-family: "libre";
    color: #999999;
    padding: 0px 0px 18px 50px;
}
.hero-text{
    width: 480px;
    height: 342px;
}
.hero-text h2{
    font-size: 36px;
    font-family: "tenor";
    text-transform: uppercase;
    padding: 0px 0px 27px 50px;
}
.hero p:nth-child(3){
    font-size: 16px;
    font-family: "font";
    color: #666666;
    padding: 0px 0px 28px 50px;
    line-height: 25px;
}
.hero p:nth-child(4){
    font-size: 10px;
    font-family: "libre";
    font-weight: bold;
    padding: 0px 0px 0px 50px;
}
.first-post{
    width: 1220px;
    height: 963px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 60px;
}
.first-post .latest-posts{
    width: 386px;
    height: 481.7px;  
}
.posts-text{
    width: 386px;
    height: 134px;
    margin: 10px 0px 0px 0px;
}
.posts-text p:nth-child(1){
    font-family: "libre";
    font-size: 10px;
    color: #999999;
}
.posts-text h2{
    font-family: "tenor";
    font-size: 20px;
    text-transform: uppercase;
    padding-top: 18px;
    font-weight: normal;
}
.posts-text p:nth-child(3){
    font-family: "libre";
    font-size: 10px;
    padding-top: 15px;
    font-weight: bold;
    color: black;
}
.posts-text p:nth-child(3):hover{
   color: green;
   cursor: pointer;
}
hr{
    width: 1220px;
    color: #E6E6E6;
    margin: auto;
    margin-top: 50px;
}
.latest__posts{
    width: 1220px;
    height: 974px;
    margin: auto;
    margin-top: 60px;
}
.latest{
    padding: 0px 20px;
    font-size: 10px;
    font-family: "libre";
    color: #999999;
}
.second-post{
    width: 1220px;
    height: 799px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.latest__posts button{
    width: 205px;
    height: 54px;
    margin-left: 510px;
    margin-top: 90px;
}
.latest__posts button a{
    text-transform: uppercase;
    color: black;
    
}
.latest__posts button:hover{
    cursor:pointer;
    background-color:green;
}
.second-post img{
    width: 285px;
    height: 187px;
}
.second-post .posts-text{
    width: 285px;
    height: 134px;
}
.second-post .posts-text p{
    text-transform: uppercase;
}
.third-post{
    width: 1220px;
    height: 1134px;
    margin: auto;
    margin-top: 80px;
    display: flex;
    flex-wrap: wrap;

}
.third-post .posts{
    width: 609px;
    height: 567px;
    padding: 24px 10px;
}
.third-post .text{
    width: 590px;
    height: 96px;
    margin: 15px 0px;
}
.third-post p{
    text-transform: uppercase;
    font-family: "libre";
    font-size: 10px;
    color: #999999;
    
}
.third-post h2{
    font-family: "tenor";
    font-size: 19px;
    color: black;
    text-transform: uppercase;
    padding-top: 13px;
}
.third-post h3{
    font-family: "libre";
    font-size: 10px;
    font-weight: bold;
    text-transform: uppercase;
    padding-top: 13px;
}
footer{
    width: 1440px;
    height: 617px;
    background-color:#141414;
    margin-top: 89px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer{
    width: 1200px;
    height: 437px;
    background-color:#141414;
}
.footer .text{
    display: flex;
    align-items: end;
    gap: 20px;
}
.footer p{
    font-size: 10px;
    font-family: "libre";
    color:#666666 ;
}
.footer a{
    color: white;
    font-size: 20px;
}
.hr{
    width: 100%;
    margin-top: 60px;
    color: #666666;
    border-color: #666666;
}
.text-item{
    width: 100%;
    height: 294px;
    background-color: #141414;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.box1{
    width: 100%;
    height: 110px;
    display: flex;
    gap: 80px;
}
.box2{
    width: 100%;
    height: 150px;
    display: flex;
    gap: 58px;
}
.box1 .box-item{
    width: 170px;
    height: 110px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}
.box2 .box-item{
    width: 170px;
    height: 110px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}
.box-itemm{
    width: 300px;
    height: 110px;
    display: flex;
    align-items: center;
}
input{
    width: 201px;
    height: 48px;
    background-color: white;
    padding: 0px 20px;
    outline: none;
    border: none;
    font-size: 20px;
}
.footer button{
    width: 79px;
    height: 48px;
    background-color: black;
}
.box1 p{
    font-size: 16px;
    font-family: "libre";
    color: white;
}
.box2 p{
    font-size: 16px;
    font-family: "libre";
    color: white;
}
#p1{
    color: #666666;
}
